.nav-bar{
    background: rgb(14, 22, 161, 0.3);
    width: 100%;
    /* position: static; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.nav-bar ul{
    width: 67%;
    display: flex;
    justify-content: flex-end;
}
.nav-bar ul li{
    list-style: none;
}
.nav-bar ul li{
    margin-left: 1%;
}

.nav-bar a{
    text-decoration: none;
    color: black;
}