/* general */
.info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.full-view{
	width: 90%;
	border: 1px solid black;
	text-align: center;
	display: flex;
    flex-direction: column;
    align-items: center;
}


.info-img{
	margin-top: 1%;
	width: 37vh;
    height: 42vh;
	background-size: cover;
  	background-position: 50% 50%;
}

/* all reviews */
.reviews-container{
	width: 90%;
    border: 1px solid black;
    padding: 3%;
}

.reviews-container h3{
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-top: 1px solid black;
	margin: 1% 1% 0 1%;
}

/* info or timestamp and writer */
.review-meta{
    font-size: 10px;
}
/* the container for the  */
.review-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rating{
    text-align: center;
}

/* tablet and higher */
@media only screen and (min-width: 768px){
	.info-img{
		width: 59vh;
    	height: 47vh;

	}
}