/*featured*/
.featured-shell{
	text-align: center;
	
	margin-top: 3%;
	margin: 0 auto;
}




.featured-container{
	text-align: center;
	display: flex;
    flex-direction: row;
    align-items: center;
	
	margin-top: 3%;
	/* margin: 0 auto; */
	height: 100%;
	cursor: pointer;
	box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);

}

.featured-pic{
	width: 50%;
	height: 45vh;
	background-size: cover;
	background-position: 50% 50%;
	position: relative;
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: baseline;
}



.feature-info{
	text-align: center;
	color: black;
	padding: 1%;
	width: 50%;
	display: flex;
    flex-direction: column;
    align-items: center;
}


.feature-rating{
	margin: 0 auto;
	padding-top: 2%;
	width: 38%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	align-self: center;
}

.feature-info p:last-child{
	padding-bottom: 2%;
}

.info-button{
	background: #F1C295;
	width: 180px;
	font-size: 27px;
}

/* tablet and higher */
@media only screen and (min-width: 768px){
	
}

@media only screen and (min-width: 1440px){


}
